.reportWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    padding: "0 10 0 10";
    /* display: "flex",
        flexDirection: "column", */
  }

  .reportWrapper > div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.8);
  }
  .reportDetail {
      display: grid;
      grid-template-columns: 200px 400px;
      grid-template-rows: 40px 40px 40px 40px;
      position: relative;
  }

  .tool-button {
    position: absolute;
    top : 5px;
    right: 5px;
  }